{% extends 'base.html.twig' %}

{% block title %}Partner index{% endblock %}

{% block body %}
    <h1>Partner index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Picture</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Horary</th>
                <th>Comment</th>
                <th>IsSpecialOffer</th>
                <th>Offer</th>
                <th>TripAdvisorLink</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partner in partners %}
            <tr>
                <td>{{ partner.id }}</td>
                <td>{{ partner.name }}</td>
                <td>{{ partner.email }}</td>
                <td>{{ partner.phone }}</td>
                <td>{{ partner.address }}</td>
                <td>{{ partner.picture }}</td>
                <td>{{ partner.latitude }}</td>
                <td>{{ partner.longitude }}</td>
                <td>{{ partner.horary }}</td>
                <td>{{ partner.comment }}</td>
                <td>{{ partner.isSpecialOffer ? 'Yes' : 'No' }}</td>
                <td>{{ partner.offer }}</td>
                <td>{{ partner.tripAdvisorLink }}</td>
                <td>{{ partner.country }}</td>
                <td>
                    <a href="{{ path('partner_show', {'id': partner.id}) }}">show</a>
                    <a href="{{ path('partner_edit', {'id': partner.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('partner_new') }}">Create new</a>
{% endblock %}