{% extends 'base.html.twig' %}

{% block title %}Partner Type index{% endblock %}

{% block body %}
    <h1>Partner Types</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Picture</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partner_type in partner_types %}
            <tr>
                <td>{{ partner_type.id }}</td>
                <td>{{ partner_type.name }}</td>
                <td><img src="{{ vich_uploader_asset(partner_type, 'imageFile') }}" alt="{{ partner_type.picture }}" class="mini-picture"/></td>
                <td>{{ partner_type.country }}</td>
                <td>
                    <a href="{{ path('partner_type_show', {'id': partner_type.id}) }}"><i class="far fa-eye"></i></a>
                    <a href="{{ path('partner_type_edit', {'id': partner_type.id}) }}"><i class="far fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('partner_type_new') }}" class="btn btn-outline-success">Create new</a>
{% endblock %}